<div class="admin-dashboard">
    <div class="admin-title">
      <h2>Quản lý Bài Viết</h2>
      <a href="/add-post" class="button add-new-btn">+ Thêm Mới</a>
    </div>
  
    <ul class="admin-posts-list">
      <% data.forEach(post => { %>
        <li class="admin-post-item">
          <a href="/post/<%= post._id %>" class="post-title">
            <%= post.title %> &nearr;
          </a>
          <div class="admin-posts-controls">
            <a href="/edit-post/<%= post._id %>" class="btn1 edit-btn1">Chỉnh sửa</a>
            <form action="/delete-post/<%= post._id %>?_method=DELETE" method="POST" class="delete1-form">
              <input type="submit" value="Xóa" class="btn1 btn1-delete1">
            </form>
          </div>
        </li>
      <% }) %>
    </ul>
  </div>
  